*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html,body{
    height: 100%;
}

body{
    background: #9575cd;
}

/*Classes do site*/

.container-single{
    max-width: 1280px;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

.w100{
    width: 100%;
}

/****/

/*Header do site*/

header{
    width: 100%;
    background: #673ab7;
    padding: 15px 0;
}

.logo a{
    text-decoration: none;
    font-size: 30px;
    font-weight: lighter;
    color: white;
}

nav.mobile{
    display: flex;
    display: none;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background: white;
}

div.btn-menu-open{
    display: none;
    position: absolute;
    top: -45px;
    left: 430px;
}

div.btn-menu-open i{
    color: white;
    cursor: pointer;
    font-size: 30px;
}

div.btn-menu-close{
    display: none;
    position: absolute;
    top: -45px;
    left: 430px;
}

div.btn-menu-close i{
    color: white;
    cursor: pointer;
    font-size: 30px;
}

nav.mobile ul{
    list-style-type: none;
    padding: 30px;
}

nav.mobile li{
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    background: #ccc;
    padding: 10px;
}

nav.mobile li:hover{
    background: #b3b3b3;
    -webkit-box-shadow: -1px 1px 15px 7px rgba(0,0,0,0.18); 
    box-shadow: -1px 1px 15px 7px rgba(0,0,0,0.18);
}

nav.mobile a{
    text-decoration: none;
    color: black;
}

nav.desktop ul{
    list-style-type: none;
}

nav.desktop li{
    display: inline-block;
    margin-right: 30px;
}

nav.desktop a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: lighter;
}

nav.desktop a:hover{
    border-bottom: 1px solid white;
}

/****/

/*Sessão Servicos*/

section.servicos{
    margin-top: 50px;
}

section.servicos > .container{
    max-width: 900px;
}

section.servicos h2.chamada{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: lighter;

}

section.servicos h2.chamada span{
    color: #311b92;
    font-weight: bold;
    border-bottom: 4px solid #4527a0;
}

.box{
    margin-top: 40px;
    column-count: 3;
    column-gap: 40px;
}

.box-single{
    width: 100%;
    background: rgba(49,27,146,0.8);
    border-radius: 15px;
    padding: 15px;
    display: inline-block;
    break-inside: avoid;
    margin-top: 30px;
}

.box-single h2{
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: lighter;
    margin-top: 6px;
}

.box-single h2 span{
    border-bottom: 1px solid #7e57c2 ;
}

.box-single p.preco{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
}

.box-single p.conteudo{
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    margin-top: 15px;
    margin: 5%;
}

.box-single input[type=submit]{
    padding: 3px 8px;
    background: #7e57c2;
    border: 0;
    border-radius: 15px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    cursor: pointer;
    display: block;
}

.box-single input[type=submit]:hover{
    background: #9575cd;
}

/*****/

/*Página de contato*/

section.form{
    width: 100%;
}

section.form h2{
    margin-top: 40px;
    color: white;
    font-size: 35px;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
}

section.form > h2 > span{
    color: #311b92;
    font-weight: bold;
    border-bottom: 4px solid #4527a0;
}

section.form form{
    width: 100%;
}

section.form .container{
    max-width:700px;
    background: rgba(49,27,146,0.8);
    padding: 35px 35px;
    margin-top: 35px;
    border-radius: 7px;
}

.form-group{
    width: 100%;
    margin-bottom: 40px;
}

.form-group p{
    margin-bottom: 7px;
    color: white;
    font-size: 18px;
}

.form-group input{
    width: 100%;
    padding: 8px;
    border: 0;
    border-radius: 4px;
}

.form-group input[type=submit]{
    background: #4caf50;
    color: white;
    font-size: 19px;
    cursor: pointer;
}

.form-group input[type=submit]:hover{
    background: #66bb6a;
}

.form-wraper label{
    display: block;
    margin-bottom: 4px;
    color: white;
}

.form-group select{
    width: 100%;
    padding: 8px;
}

.form-group textarea{
    width: 100%;
    padding: 8px;
    padding-bottom: 60px;
    resize: vertical;
}

.form-wraper{
    margin-bottom: 40px;
}

.form-wraper p{
    margin-bottom: 4px;
    color: white;
    font-size: 18px;

}

/*****/

/*Estilo página sobre*/

section.sobre > h2{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 35px;
    margin-top: 40px;
    color: white;
}

section.sobre > h2 > span{
    color: #311b92;
    font-weight: bold;
    border-bottom: 4px solid #4527a0;
}

section.sobre .container{
    display: flex;
    background: rgba(49,27,146,0.8);
    max-width: 700px;
    margin-top: 35px;
    border-radius: 8px;
}

.conteudo{
    width: 100%;
    padding: 4% ;
}

.conteudo h2{
    font-size: 23px;
    font-weight: lighter;
    margin-bottom: 15px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.conteudo p{
    font-size: 16px;
    font-weight: lighter;
    color: white;
    text-align: center;
}

/****/

/*Footer*/

footer{
    width: 100%;
    margin-top: 50px;
    padding: 20px 2%;
    background:#673ab7;
}

footer h2{
    text-align: center;
    color: white;
    font-size: 19px;
    font-weight: lighter;

}

/***/

/*Media Query*/

@media screen and (max-width: 768px){
    nav.desktop{
        display: none;
    }

    nav.mobile{
        display: block;
    }

    nav.mobile ul{
        display: none;
    }

    div.btn-menu-open{
        display: block;
    }

    div.btn-menu-close{
        display: none;
    }

    .box{
        column-count: 2;
        column-gap: 40px;
    }

    section.sobre > h2{
        max-width: 300px;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
    }

    section.sobre .container{
        max-width: 400px;
    }

    section.form .container{
        max-width: 400px;
    }

}

/*****/